//- aquí debe venir un html con variables para pintar lo que se vaya obteniendo de la api: título, autor, descripción, imagen...
doctype html
html
   head
      title #{Title}
   body
      h1 #{Title}
      h3 #{Director}
      p #{Plot}
      img(src=Poster, alt="photo")

